Q 1-Explane with an example each when to use a for loop and a while loop.

ANS-A for loop repeats used for iterating over a sequence (that is either a list,a tuple,a dictonary,a set or a string)

FOR EX.-

In [2]:
m=[1,2,3,4,5,6,10]
for i in m :
    print(i)

1
2
3
4
5
6
10

WHILE LOOP -while loop is used to run a block code untill a certain condition is met.if the condition
evaluates to true ,the code inside the while loop is executed.

In [2]:
a=1
while a<=5 :
    print(a)
    a=a+1

1
2
3
4
5

Q2-Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

By for loop -

In [1]:
m=[1,2,3,4,5,6,7,8,9,10]
result=0
for i in m :
    result =result +i
result

55

PRODUCT OF 10 NATURAL NUMBERS-

In [2]:
n=[1,2,3,4,5,6,7,8,9,10]
result =1
for i in n :
    result =result*i
result

3628800

BY USING WHILE LOOP PRUDUCT OF 10 NATURAL NUMBERS-

In [4]:
starting_point =0
counter =1
while counter <=10 :
    starting_point =starting_point + counter
    counter =counter +1
starting_point

55

BY USING WHILE LOOP MULTIPLICATON OF 10 NATURAL NUMBERS

In [6]:
starting_point =1
counter =2
while counter <=10 :
    starting_point=starting_point*counter
    counter =counter+1
starting_point

3628800

Q3-Create a python program to compute the electricity bill for a house hold.
the per unit charges in rupees are as follows:for the first 100 units,the user will be charged Rs.4.5
per unit,for the next 100 units,the user will be charged Rs 6 per unit ,and for the next 100 units,the user will be 
charged Rs. 10 per unit ,after 300 units and above the user will be charged rs.20 per unit .

you are required to take the units of electricity consumed in a month from the user as input.

your program must pass this test case :when the unit of electricity consumed by the user in a month is 310
,the total electricity bill should be 2250.

ANS-PYTHON PROGRAM FOR ELECTRICITY BILL-

In [1]:
units=int(input('enter your monthly electricity units'))
price=0
while units==range(0,301) :
    if units<=100:
        price=price+units*4.5
    elif units>100 and units<=200 :
        price=price+450+(units-100)*6
    elif units>200 and units<=300:
        price =price+450+600+(units-200)*10
else:
    price=price+450+600+1000+(units-300)*20
        
    print('your electricity bill is Rs.',price)

enter your monthly electricity units 310

your electricity bill is Rs. 2250

Q 4-Create a list of numbers from 1 to 100 .use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisable by 4 or 5 than append that number in a list and 
print that list.

USING FOR LOOP FOR SOLVE THE PROBLEM-

In [19]:
m=list(range(1,101))
l1=[]
for i in m :
    a=i**3
    if a %4==0 or a%5==0 :
        l1.append(i)
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

USING WHILE LOOP FOR SOLVE THE PROBLEM

In [3]:
l1=[]
a=1
while a<=100 :
    b=a**3
    if b %4==0 or b%5==0 :
        l1.append(a)
    a=a+1
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q 5-Write a program to filter count vowels in below given string.string="I want to become a data scientist"

In [2]:
string='i want to become a data scientist'
list(filter(lambda x :  x=='a'or x=='e' or x=='i' or x=='o' or x=='u' ,string))

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [ ]:
                           *